* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.barra-busqueda {
    text-align: center;
}
.logo {
    width: 75vw;
    margin: 20px;
    padding: 20px;
}

header {
    background-color: #EAC926;
}

a {
    text-decoration: none;
}

.ul-li {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.titular {
    font-size: 24px;
    padding: 10px;
}

.precios {
    font-size: 18px;
}

.descripcion {
    font-size: 16px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.fa-bars {
    background-color: #1259c3;
    color: #ebebeb;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.burger-menu {
    text-align: center;
}

.cuotas {
    text-align: center;
    padding: 10px;
}

.sec-h3 {
    color: #666;
    text-align: center;
}

.sec-p {
    color: #666;
    text-align: center;
}
h3.sec-p {
    padding: 20px;
    font-style: italic;
    font-size: 10px;
}

.i {
    font-size: 2em;
    margin-bottom: 12px;
    text-align: center;
    color: #1259c3;
    padding: 10px;
}

.fa-truck {
    color: #39b54a;
    width: 5vw;
}

.envio {
    color: #39b54a;
    text-align: left;
}

.img-scale {
    width: 50vw;
    margin-left: 12vw;
}

.main-scale {
    width: 90%;
    margin: auto;
}

.articulo {
    margin: 10px;
    border: 1px solid #ebebeb;
    padding: 15px;
}

.nav {
    display: none;
    padding: 10px;
    color: black;
    font-size: 14px;
}


@media (min-width: 361px) {

    /*TABLET*/
    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {

    /*DESKTOP*/
    .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}